* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.h-spacer {
    padding: 20px 0;
}

html {
    height: 100%;
    background-color: #f9fbe7;
}

body {
    font-family: Arial, serif;
    margin: 0;
    height: 100%;
}

.full-width {
    width: 100%;
}

.header {
    padding: 20px;
    text-align: center;
    background: #827717;
    color: white;
    font-family: cursive;
    font-weight: bolder;
    font-size: 40px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    text-align: center;
    background: #AFB42B;
    color: white;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

.footer-el {
    padding: 0 50px;
}

.center-text {
    text-align: center;
}

.title {
    font-size: large;
    font-weight: bold;
    padding: 5px 5px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 99%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.intro-side {
    display: flex;
    flex: 40%;
    align-items: center;
    height: 80vh;
    background: radial-gradient(circle, rgba(220, 231, 117, 1) 0%, rgba(249, 251, 231, 1) 50%, #f9fbe7 100%);
}

@media (max-width: 800px) {
    .intro-side {
        display: none;
    }
}

.center-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}


#landing_menu {
    width: 300px;
    height: 400px
}

.mr-2 {
    margin-right: 20px;
}

.my-2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mx-2 {
    margin-right: 20px;
    margin-left: 20px;
}

.h2 {
    font-weight: bold;
    font-size: large;
}

.intro-main {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex: 60%;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
}

.intro-img {
    object-fit: contain;
}

.intro-logo {
    margin-bottom: 15px;
    height: 100px;
    width: 100px;
    background: radial-gradient(circle, rgba(220, 231, 117, 1) 0%, rgba(249, 251, 231, 1) 50%, #f9fbe7 100%);
}

.intro-logo:hover {
    transform: scale(1.2);
}

.xs-logo {
    width: 20px;
    height: 20px;
}

#landing_start_button {
    width: 150px;
}

/* CSS */
.button-start {
    margin-top: 10px;
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-start:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-start:hover:after {
    transform: translate(0, 0);
}

.button-start:active {
    background-color: #ffdeda;
    outline: 0;
}

.button-start:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button-start {
        padding: 0 40px;
    }
}

.tv {
    position: relative;
    border: 2px solid #00A4BD;
    border-radius: 0 0 0 0 / 0 0 0 0;
    box-shadow: 20px 20px rgba(0, 0, 0, .15);
}
